@charset "utf-8";
*{
    box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
/* 容器高度自适应于浏览器视口 */
html,body{
    width: 100%;
    height: 100%;
}
body{
    font: 100% Arial,"Microsoft YaHei";
    overflow: hidden;
    color: #666;
}
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
ul, ol { list-style:none; }
a {color: #000; text-decoration:none; }
a:hover { text-decoration:none; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }